[submodule "gemini-cli"]
	path = gemini-cli
	url = https://github.com/google-gemini/gemini-cli.git
[submodule "claude-code"]
	path = claude-code
	url = https://github.com/anthropics/claude-code.git
[submodule "open_researcher/open_researcher/DeepResearch"]
	path = open_researcher/open_researcher/DeepResearch
	url = https://github.com/Alibaba-NLP/DeepResearch.git
[submodule "open_researcher/DeepResearch"]
	path = open_researcher/DeepResearch
	url = https://github.com/Alibaba-NLP/DeepResearch.git
[submodule "open_researcher/open-agent"]
	path = open_researcher/open-agent
	url = https://github.com/AFK-surf/open-agent.git
[submodule "open_researcher/AgentFlow"]
	path = open_researcher/AgentFlow
	url = https://github.com/lupantech/AgentFlow.git
